@use "globals" as *;

.p-4.my-4.border.dark\:border-coolgray-200.border-neutral-200 {
  padding: s(4);
  margin-top: s(4);
  border-radius: var(--radius-lg);
  background: var(--card);
  color: var(--card-foreground);
}

// Deployment floating
div.fixed.bottom-0.mb-4.left-0.ml-4:has(button) {
  margin-inline: s(4);

  @media (min-width: 640px) {
    margin-inline: s(6);
  }

  @media (min-width: 1024px) {
    left: var(--sidebar-width);
    margin-inline: s(8);

    width: calc(100% - var(--sidebar-width));

    & > div {
      max-width: 1280px;
      width: 100%;
      margin-inline: auto;
    }
  }

  & button {
    background-color: var(--accent);
    color: var(--accent-foreground);

    > span {
      color: var(--accent-foreground) !important;
    }

    > svg:last-child {
      color: var(--accent-foreground) !important;
    }

    border-color: var(--border);
    border-radius: var(--radius-xl);
  }

  & [x-show="expanded"] {
    background: var(--popover);

    & a {
      background: var(--card);
      border-radius: var(--radius-lg);
      color: var(--card-foreground);
      border: 1px solid var(--border);
    }
  }
}

// Deployment Logs
div#screen {
  background: var(--card);
  color: var(--card-foreground);
  border-radius: var(--radius-lg);
  border: var(--border);
  overflow: hidden;

  & > div[x-show="expanded"] {
    padding: s(0);

    div[class*="flex"] > form[wire\:submit="getLogs(true)"] {
      & > input {
        padding-right: s(2);
        padding-left: s(11);
      }
    }

    & > div {
      padding: s(0);
      background: var(--card);
      border-top: 1px solid var(--border);
      border-radius: 0px;
    }

    input {
      box-shadow: none;
      padding-block: s(1.5);
    }
  }
}

div:has(> div#screen) {
  border-radius: var(--radius-xl);
  overflow: hidden;
}
