@use "globals" as *;

// Round Resource Images
img.w-full.h-full.p-2.transition-all.object-contain,
svg.w-\[4\.5rem\].h-\[4\.5rem\].p-2.dark\:bg-white\/10.bg-black\/10,
div.w-\[4\.5rem\].h-\[4\.5rem\].p-2.dark\:bg-white\/10.bg-black\/10 {
  overflow: hidden;
  border-radius: var(--radius-lg);
  filter: none;
  opacity: 1;
  min-width: 3.5rem;
  width: 3.5rem;
  min-height: 3.5rem;
  height: 3.5rem;
  padding: s(1.5);
}

div.w-\[4\.5rem\].h-\[4\.5rem\].p-2.dark\:bg-white\/10.bg-black\/10 > svg {
  transform: translateX(-23px) translateY(-8px) scaleX(0.8) scaleY(0.7);
  transform-origin: center center;
}

div.w-\[4\.5rem\].h-\[4\.5rem\].p-2.dark\:bg-white\/10.bg-black\/10
  > svg#svg1326 {
  transform: translateX(-19px) translateY(-9px) scaleX(0.8) scaleY(0.7);
  transform-origin: center center;
}

input.input-sticky {
  background: transparent;
  backdrop-filter: blur(var(--blur));
}

div:has(
  [x-show^="filteredGitBasedApplications.length > 0 || filteredDockerBasedApplications.length > 0"]
) {
  .grid[class*="cols"] {
    background: none;
    padding: s(0.5);
    border-radius: 0;

    h4 {
      color: var(--foreground);
    }

    .coolbox {
      padding: s(1);
    }
  }
}

div:has(
  [x-show^="filteredDatabases"]:has(
    > div.grid[class*="cols"] > div[x-on\:click="setType(database.id)"]
  )
) {
  .grid[class*="cols"] {
    background: none;
    padding: s(0.5);
    border-radius: 0;

    .coolbox {
      padding: s(1);
    }
  }
}

div[x-show="filteredServices.length > 0"]:has(> div[x-init="loadResources"]) {
  div[x-init="loadResources"] {
    button {
      background-color: var(--accent);
      color: var(--accent-foreground);
      border-radius: var(--radius-md);
      margin-inline: 0;
      text-indent: 0;

      & > * {
        display: none;
      }
    }

    button {
      @include icon-button("arrows-clockwise-bold", "bold");
      text-indent: 0px;
    }

    button:hover {
      background-color: color-mix(in srgb, var(--accent) 80%, transparent);
      color: var(--accent-foreground);
      opacity: 1;
    }
  }

  div.relative.p-4.border.rounded-lg.bg-blue-50.dark\:bg-blue-900\/30.border-blue-300.dark\:border-blue-800 {
    margin: s(0.5);
  }

  div.grid[class*="cols"]:has(.coolbox) {
    background: none;
    padding: s(0.5);

    .coolbox {
      min-height: 100%;
      padding: s(1);
    }
  }
}

.sticky.z-10.top-0:has(input[x-ref="searchInput"]) {
  background: var(--popover) !important;
  top: s(1);
  border-radius: var(--radius-lg);
  padding: s(4);
  box-shadow: var(--shadow-xs) !important;
  border: none !important;

  input[x-ref="searchInput"] {
    box-shadow: none !important;
  }
}
