@use 'globals' as *;
@use 'theme/variables' as vars;
@use 'sass:map';

/* Misc utilities */
form,
div[class*='shadow-lg lg:border-t dark:border-coolgray-300'] {
  border-radius: var(--radius-md) !important;
}

div[class='flex flex-col gap-4 max-w-2xl'] {
  max-width: none !important;
}

input.dark\:bg-coolgray-100:where(.dark, .dark *) {
  padding: s(2.75);
  border-radius: 4px !important;
  background-color: var(--card) !important;
  transition: background 0.18s;
}

div[class*='flex flex-col gap-2'] {
  gap: s(4) !important;
}

/* Style cards for settings */
div[class*='p-4 border dark:border-coolgray-300'] {
  margin-top: s(4);
  padding: s(4);
  border-radius: var(--radius-md) !important;
  background: var(--popover) !important;
}

// When you hover over any "box", it will not hover, like in settings
.dark\:hover\:bg-coolgray-100:where(.dark, .dark *):hover {
  background: none !important;
}
