@use 'globals' as *;
@use 'theme/variables' as vars;
@use 'sass:map';

/* Misc utilities */
form,
div[class*='shadow-lg lg:border-t dark:border-coolgray-300'] {
  border-radius: var(--radius-sm) !important;
}

div[class='flex flex-col gap-4 max-w-2xl'] {
  max-width: none !important;
}

input.dark\:bg-coolgray-100:where(.dark, .dark *) {
  padding: s(2.75);
  border-radius: 4px !important;
  background-color: var(--card) !important;
  transition: background 0.18s;
}

div[class*='flex flex-col gap-2'] {
  gap: s(4) !important;
}

/* “Sponsor us” box and similar */
div[class*='p-4 border dark:border-coolgray-300'] {
  margin-top: s(4);
  padding: s(4) s(6);
  border-radius: var(--radius-sm) !important;
  background: var(--popover) !important;
}

// Deployments card
.p-2.border-l-2.bg-white.dark\:bg-coolgray-100 {
  padding: s(2);
  background-color: var(--popover) !important;
  border-radius: var(--radius-sm) !important;
}

.p-4.my-4.border.dark\:border-coolgray-200.border-neutral-200 {
  padding: s(4);
  margin-top: s(4);
  border-radius: var(--radius-sm) !important;
  background: var(--popover) !important;
}
