@use 'globals' as *;

/* Sponsorship Popup Styles */
[x-show='popups.sponsorship'] {
  padding: s(5) !important;
  border-radius: var(--radius-sm) !important;
  background: var(--cfy-card-container) !important;
  box-shadow: var(--cfy-shadow) !important;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--cfy-muted);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cfy-text);
}

/* Button to add tags to service */
.add-tag {
  color: var(--cfy-muted) !important;
}

/* take full width for compressed items, like checkboxes */
div[class='w-48'],
div[class*='w-64'],
div[class='w-32'],
div[class='pt-2 w-96'],
div[class='w-96'],
div[class*='md:w-96'],
div[class='w-96'] {
  width: 100% !important;
}
