/* Sponsorship Popup Styles */
[x-show='popups.sponsorship'] {
  padding: 1.25rem !important;
  border-radius: var(--radius-sm) !important;
  background: var(--cfy-card-container) !important;
  box-shadow: var(--cfy-shadow) !important;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--cfy-muted);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cfy-text);
}