@use 'globals' as *;

/* Section */
// Increase header size and add padding
section > h2 + div,
section > h3 + div {
  overflow: hidden;
  margin-top: s(2.5);
  padding: s(3) s(3.5) !important;
  border-radius: var(--radius-xl) !important;
  /* 14 px */
  background: var(--popover) !important;
}

section h3[class='pb-2'] {
  font-size: 1.6rem;
}

// Push all buttons to the right from the headings for many sections
:is(.flex.gap-2, .flex.items-center.gap-4, .flex.flex-col.gap-4) > :is(h1, h2, h3, h4) {
  margin-right: auto;
}

/* Cleanup Links */
a[class*='hover:underline']:hover {
  color: var(--muted-foreground) !important;
  text-decoration: none !important;
}

/* Monaco Editor */
.monaco-editor {
  border-radius: var(--radius-lg) !important;
  overflow: hidden;
}

/* Sponsorship Popup Styles */
[x-show='popups.sponsorship'] {
  padding: s(5) !important;
  border-radius: var(--radius-lg) !important;
  background: var(--popover) !important;
  box-shadow: var(--shadow-lg) !important;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--muted);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--foreground);
}

/* Button to add tags to service */
.add-tag {
  color: var(--muted-foreground) !important;
}

.add-tag:hover {
  color: var(--foreground) !important;
}

/* take full width for compressed items, like checkboxes */
div[class='w-32'] {
  width: 100% !important;
  min-width: s(32) !important;
}

div[class='w-48'] {
  width: 100% !important;
  min-width: s(48) !important;
}

div[class*='w-64'] {
  width: 100% !important;
  min-width: s(64) !important;
}

div[class='w-96'],
div[class='pt-2 w-96'],
div[class='w-96 flex flex-col gap-1'],
div[class='w-96 pb-6'],
div[class*='md:w-96'] {
  width: 100% !important;
  min-width: s(96) !important;
}

div[class='w-\\[500px\\]'] {
  width: 100% !important;
  min-width: 500px !important;
}

/* center the loader in the deployments section */
div.flex.items-start.gap-2 > .inline-flex svg {
  height: s(9);
}

/* button w-auto */
div.w-auto > button {
  width: max-content !important;
}
