@import "tailwindcss";
@import "fumadocs-ui/css/preset.css";
@import "./solar.css";
@import "fumadocs-ui/css/shadcn.css";
@import "fumadocs-twoslash/twoslash.css";
@import "fumadocs-openapi/css/preset.css";
@import "tw-animate-css";
@import "@repo/tailwind-config/theme";

@source "../../../../packages/ui/src/*.{ts,tsx}";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));
@custom-variant auto (&:where(.auto, .auto *));

@theme {
  @keyframes stroke {
    from {
      stroke-dasharray: 1000;
    }

    to {
      stroke-dasharray: 1000;
      stroke-dashoffset: 2000;
    }
  }

  --animate-stroke: stroke 5s linear infinite;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-gradient-radial: radial-gradient(circle, var(--tw-gradient-stops));
  --color-repeat-gradient-to-r: repeating-linear-gradient(
    to right,
    var(--tw-gradient-stops)
  );
  --color-repeat-gradient-to-br: repeating-linear-gradient(
    to bottom right,
    var(--tw-gradient-stops)
  );
}

@layer base {
  body {
    overscroll-behavior-y: none;
  }

  ::selection {
    background-color: var(--color-accent);
    color: var(--color-foreground);
  }
}

.dark [data-hide-on-theme="dark"],
.light [data-hide-on-theme="light"] {
  display: none;
}

#nd-sidebar {
  @apply border-e;
  background-color: var(--color-background);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#nd-sidebar a {
  @apply text-sidebar-accent-foreground/60;
}

#nd-sidebar a.bg-fd-primary\/10 {
  @apply text-foreground dark:text-primary-foreground;
}

@layer utilities {
  .bg-dashed {
    background-image: linear-gradient(
      45deg,
      var(--border) 12.50%,
      transparent 12.50%,
      transparent 50%,
      var(--border) 50%,
      var(--border) 62.50%,
      transparent 62.50%,
      transparent 100%
    );
    background-size: 0.25rem 0.25rem;
  }

  .bg-gradient-radial {
    background-image: radial-gradient(circle, var(--tw-gradient-stops));
  }
}