@theme {
  --color-fd-article: oklch(0.982 0.01 286.7);
}

:root {
  letter-spacing: -0.25px;
}

.dark {
  --color-fd-article: oklch(0.3 0.02 300);
}

@variant md {
  #nd-docs-layout {
    #nd-page {
      @apply relative md:px-9 xl:px-12;
    }

    #nd-page:before {
      content: "";
      @apply bg-fd-article absolute inset-0 -z-1 m-4 mb-2 rounded-xl border shadow-xl;
    }

    [data-toc-popover-trigger],
    [data-toc-popover-content] {
      @apply px-4;
    }

    [data-toc-popover] {
      top: calc(var(--fd-docs-row-1) + 2.5 * var(--spacing));
      @apply mx-4 mt-2.5;

      header {
        transform-origin: top center;
        @apply has-data-[active=true]:bg-fd-popover/80 rounded-xl border shadow-lg transition-[margin] has-data-[active=true]:-mx-2;
      }
    }
  }

  #nd-notebook-layout {
    #nd-page {
      @apply relative md:px-9 xl:px-12;
    }

    #nd-page:before {
      content: "";
      @apply bg-fd-article absolute inset-0 -z-1 m-4 mb-2 rounded-xl border shadow-xl;
    }

    [data-toc-popover-trigger],
    [data-toc-popover-content] {
      @apply px-4;
    }

    [data-toc-popover] {
      top: calc(var(--fd-docs-row-2) + 2.5 * var(--spacing));
      @apply mx-4 mt-2.5;

      header {
        transform-origin: top center;
        @apply has-data-[active=true]:bg-fd-popover/80 rounded-xl border shadow-lg transition-[margin] has-data-[active=true]:-mx-2;
      }
    }
  }
}

#nd-sidebar[data-collapsed="false"] {
  border: none;
  @apply bg-fd-background;
}
