@use "globals" as *;

table {
  /* base container */
  min-width: 100%;
  overflow: hidden;
  margin-top: s(4);
  border-radius: var(--radius-md);
  background: var(--secondary);
  color: var(--secondary-foreground);

  /* row separators */
  > :not(:last-child) {
    border-bottom: 1px solid var(--border);
  }

  /* header */
  thead {
    background: var(--secondary);
    text-transform: uppercase;

    tr {
      th {
        padding-block: s(3.5);
        padding-inline: s(3);
        text-align: left;
        font-weight: var(--font-weight-medium);
        color: var(--secondary-foreground)!important;

        /* extra left padding on first col */
        &:first-child {
          padding-left: s(4);
          @media (min-width: 40rem) {
            padding-left: s(6);
          }
        }
      }

      @media (hover: hover) {
        &:hover {
          background: color-mix(in srgb, var(--muted) 50%, transparent);
        }
      }
    }
  }

  /* body */
  tbody {
    > :not(:last-child) {
      border-bottom: 1px solid var(--border);
    }

    tr {
      td {
        color: var(--secondary-foreground)!important;
        padding-block: s(4);
        padding-inline: s(3);
        white-space: nowrap;

        /* bold and indented first col */
        &:first-child {
          padding-left: s(4);
          font-weight: var(--font-weight-bold);
          @media (min-width: 40rem) {
            padding-left: s(6);
          }
        }
      }

      /* hover effect */
      @media (hover: hover) {
        &:hover {
          background: color-mix(in srgb, var(--muted) 50%, transparent);
        }
      }
    }
  }
}
