@use 'globals' as *;

main {
  height: 100svh;
}

/* Applies max-width and padding to the main content area. */
main > div:first-child {
  margin: auto;
  max-width: 1280px !important;
  padding-block: s(18) !important;
}

body > div[x-data*='pageWidth'] {
  min-width: 100% !important;
  max-width: 100% !important;
}
