@font-face {
  font-family: 'Phosphor';
  src:
    url('https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/regular/Phosphor.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/regular/Phosphor.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/regular/Phosphor.ttf')
      format('truetype'),
    url('https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/regular/Phosphor.svg#Phosphor')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Phosphor' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga=1';
  -moz-font-feature-settings: 'liga';
  -ms-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga';
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & > * {
    display: none !important;
  }
}

$icon-size: 1.25rem;

.menu-item {
  .icon {
    width: $icon-size;
    height: $icon-size;
  }
}
.menu-item[title='Dashboard'] .icon {
  mask: url('https://cdn.jsdelivr.net/npm/@phosphor-icons/core@2.1.1/assets/fill/acorn-fill.svg')
    no-repeat center/contain;
  -webkit-mask: url('https://cdn.jsdelivr.net/npm/@phosphor-icons/core@2.1.1/assets/fill/acorn-fill.svg')
    no-repeat center/contain;

  /* paint the visible shape with currentColor */
  background-color: currentColor;

  /* size it like a font glyph */
  width: 1em;
  height: 1em;
  display: inline-block;
}
