@use 'globals' as *;

// Round Resource Images
img[class*='w-[4.5rem] aspect-square h-[4.5rem]'],
svg[class*='w-[4.5rem] aspect-square h-[4.5rem]'],
div[class*='w-[4.5rem] aspect-square h-[4.5rem]'] {
  overflow: hidden !important;
  border-radius: var(--radius-sm) !important;
  filter: none !important;
  opacity: 1 !important;
}

input.input-sticky {
  background: transparent !important;
  backdrop-filter: blur(var(--blur)) !important;
}
