@use 'globals' as *;

.navbar-main {
  position: sticky;
  top: 0;
  padding: s(1.75) s(3.5);
  border: 1px solid var(--border);
  border-radius: var(--radius-lg);
  background: var(--sidebar);
  backdrop-filter: blur(var(--blur));
  box-shadow: var(--shadow-sm);
}

.navbar-main nav {
  display: flex;
  align-items: center;
  padding-top: 0px;
  gap: s(3.25);
}

.navbar-main nav::-webkit-scrollbar {
  display: none;
}

.navbar-main nav a {
  padding: s(1.25);
  border-radius: 10px;
  color: var(--muted-foreground);
  font-weight: 600;
  cursor: pointer;
  transition:
    background 0.18s,
    color 0.18s;
}

.navbar-main nav a:hover {
  color: var(--sidebar-foreground);
}

.navbar-main nav a[class*='dark:text-white'],
.navbar-main nav a[aria-current='page'] {
  color: var(--sidebar-foreground);
}

.navbar-main .flex-1 {
  flex: 1 1 auto;
}
