@use 'globals' as *;

div.border-l.border-dashed.box-without-bg-without-border {
  border-radius: var(--radius-xl);
  background: var(--card);
  padding: s(4) s(0) s(4) s(4);
  border-style: solid;
  border-left-style: dashed;
  background-clip: padding-box;
  overflow: hidden;
}
