@use 'globals' as *;
@use 'components/ui/_button' as button;

button:has([title='Settings']) {
  @include button.button-base;

  border-radius: 10px;
  padding-inline: s(2);
  padding-block: s(2);
  margin-right: s(2);

  &:hover {
    background: color-mix(in srgb, var(--secondary) 80%, transparent);
  }

  & > span > div {
    justify-content: center;
  }

  & > svg.w-5.h-5 {
    @include icon('gear-six-fill', 'fill');
  }
}

.dropdown-item-no-padding[wire\:click='openWhatsNewModal'] svg {
  @include icon('list-magnifying-glass-duotone', 'duotone');
}

.dropdown-item-no-padding[\@click^="setTheme('dark')"] svg {
  @include icon('moon-duotone', 'duotone');
}

.dropdown-item-no-padding[\@click^="setTheme('light')"] svg {
  @include icon('sun-duotone', 'duotone');
}

.dropdown-item-no-padding[\@click^="setTheme('system')"] svg {
  @include icon('desktop-duotone', 'duotone');
}

div:has(div[x-show='dropdownOpen']:not([style*='display: none'])) button:has([title='Settings']) {
  background: var(--secondary);
}

div[x-show='dropdownOpen']:has(button[\@click*='setTheme']) {
  right: s(2);
  top: s(10);
}

button[\@click^='switchWidth'],
button[\@click^='setZoom'] {
  display: none;
}

div[class*='font-bold border-b dark:border-coolgray-500 border-neutral-300 dark:text-white'] {
  display: none;
}
