@use 'globals' as *;

// spinner
svg.animate-spin {
  color: var(--primary);

  circle {
    opacity: 0.75;
    stroke: var(--primary-foreground);
    stroke-width: 2;
  }
}

// [wire\:loading][wire\:loading] {
//   display: block;
// }
