@use 'globals' as *;
@use 'components/ui/_button' as button;

button[\@click='dropdownOpen=true']:has([x-show*='theme']) {
  @include button.button-base;

  border-radius: 10px;
  padding-inline: s(0.5);
  padding-block: s(2);
  margin-right: s(2);

  &:hover {
    background: color-mix(in srgb, var(--secondary) 80%, transparent);

    & svg {
      fill: var(--secondary-foreground);
    }
  }

  & svg {
    fill: var(--sidebar-foreground);
  }

  & > span > div {
    justify-content: center;
  }

  & > svg.w-4.h-4 {
    display: none;
  }
}

div:has(div[x-show='dropdownOpen']:not([style*='display: none']))
  button[\@click='dropdownOpen=true']:has([x-show*='theme']) {
  background: var(--secondary);
  & svg {
    fill: var(--secondary-foreground);
  }
}

div[x-show='dropdownOpen']:has(button[\@click*='setTheme']) {
  right: 0;
  top: s(3);
}

button[\@click^='switchWidth'],
button[\@click^='setZoom'] {
  display: none;
}

div[class*='font-bold border-b dark:border-coolgray-500 dark:text-white text-md'] {
  display: none;
}
