@use 'globals' as *;
@use 'components/ui/_button' as button;

button[\@click='dropdownOpen=true']:has([x-show="theme === 'dark' || theme === 'system'"]) {
  @include button.button-base;

  border-radius: 10px !important;
  padding-inline: s(0.5) !important;
  padding-block: s(2) !important;
  margin-right: s(2);

  &:hover {
    background: color-mix(in srgb, var(--secondary) 80%, transparent);
  }

  & svg {
    fill: var(--secondary-foreground) !important;
  }

  & > span > div {
    justify-content: center;
  }

  & > svg.w-4.h-4 {
    display: none;
  }
}

button[\@click^='switchWidth'],
button[\@click^='setZoom'] {
  display: none !important;
}

div[class*='font-bold border-b dark:border-coolgray-500 dark:text-white text-md'] {
  display: none !important;
}
