@use 'globals' as *;

button[\@click='dropdownOpen=true']:has([x-show="theme === 'dark' || theme === 'system'"]) {
  border-radius: 10px !important;
  background: var(--secondary) !important;
  padding-inline: s(1.45) !important;
  padding-block: s(2.75) !important;
  border: 1px solid var(--border) !important;

  & > span > div {
    justify-content: center;
  }

  & > svg.w-4.h-4 {
    display: none;
    width: 0;
    height: 0;
    margin: 0;
  }
}

button[\@click^='switchWidth'],
button[\@click^='setZoom'] {
  display: none !important;
}

div[class*='font-bold border-b dark:border-coolgray-500 dark:text-white text-md'] {
  display: none !important;
}
