@use "sass:map";
@use "theme/variables" as vars;

@mixin mq($key) {
  $size: map.get(vars.$breakpoints, $key);
  @media screen and (min-width: $size) {
    @content;
  }
}
  
@mixin apply-blur($blur-var: var(--cfy-blur)) {
  backdrop-filter: blur($blur-var);
}

@function s($value) {
  @if $value == 0 {
    @return 0;
  }
  $rounded-multiplier: round($value / 2) * 2;
  @return calc(var(--spacing) * #{$rounded-multiplier});
}
