@use 'sass:map';
@use 'theme/variables' as vars;

@mixin mq($key) {
  $size: map.get(vars.$breakpoints, $key);
  @media screen and (min-width: $size) {
    @content;
  }
}

@function s($value) {
  @if $value == 0 {
    @return 0;
  }
  $rounded-multiplier: round($value / 0.05) * 0.05;
  @return calc(var(--spacing) * #{$rounded-multiplier});
}

@mixin icon($name, $variant: 'regular') {
  $base-url: 'https://cdn.jsdelivr.net/npm/@phosphor-icons/core@2.1.1/assets';
  $url: '#{$base-url}/#{$variant}/#{$name}.svg';

  mask: url('#{$url}') no-repeat center / contain;
  -webkit-mask: url('#{$url}') no-repeat center / contain;
  background-color: currentColor;
}

@mixin icon-button(
  $name,
  $variant: 'regular',
  $bg-color: var(--color-coolgray-400),
  $icon-color: #fff,
  $pad: s(1.5),
  $radius: var(--radius-xs),
  $icon-size: s(1)
) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $pad;
  background-color: $bg-color;
  border-radius: $radius;

  text-indent: -9999px;
  position: relative;

  &::before {
    content: '';
    width: $icon-size;
    height: $icon-size;
    color: $icon-color;
    @include icon($name, $variant);
  }
}
