@use "globals" as *;

@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");

:root {
  --default-font-family: var(--font-sans);
}

h1 {
  color: var(--foreground);
  font: 700 2.1rem/1.25 var(--font-sans);
}

h2 {
  color: var(--foreground);
  font: 700 1.5rem/1.35 var(--font-sans);
}

h3 {
  color: var(--foreground);
  font: 700 1.25rem/1.35 var(--font-sans);
}

h4 {
  color: var(--foreground);
  font: 700 1.1rem/1.35 var(--font-sans);
}

.subtitle {
  color: var(--muted-foreground);
  font-size: 0.95rem;
}
