@use 'globals' as *;

@mixin button-base {
  padding: s(2.25) s(4);
  border: 1px solid var(--border) !important;
  border-radius: var(--radius-xs) !important; /* 12 px */
  font-weight: 600;
  transition:
    background 0.18s ease,
    color 0.18s ease;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}

button.button,
.button {
  @include button-base;
  background: var(--primary);
  color: var(--primary-foreground) !important;

  &:hover {
    background-color: color-mix(in srgb, var(--primary) 90%, transparent);
  }
}

button.secondary,
.secondary {
  @include button-base;
  background: var(--secondary) !important;
  color: var(--secondary-foreground) !important;

  &:hover {
    background-color: color-mix(in srgb, var(--secondary) 80%, transparent);
  }
}

button.destructive,
button[iserror='isError'],
.destructive {
  @include button-base;
  background: var(--destructive) !important;
  color: var(--destructive-foreground) !important;

  &:hover {
    background-color: color-mix(in srgb, var(--destructive) 60%, transparent);
  }
}

button {
  border-radius: var(--radius-sm) !important;
}
