select,
::picker(select) {
    appearance: base-select;
}

select:hover,
select:focus {
    border-color: var(--cfy-accent-light);
    background: var(--cfy-card-container);
}

select::picker-icon {
    color: var(--cfy-muted);
    transition: 0.4s rotate;
}

select:open::picker-icon {
    rotate: 180deg;
}

::picker(select) {
    border: 1px solid var(--color-coolgray-400) !important;
    border-radius: var(--radius-xs) !important;
    background: var(--cfy-card) !important;
}

option {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    background: var(--cfy-card) !important;
    color: var(--cfy-text);
    transition: 0.4s;
    gap: 20px;
}

option:first-of-type {
    border-radius: var(--radius-xs) var(--radius-xs) 0 0;
}

option:last-of-type {
    border-radius: 0 0 var(--radius-xs) var(--radius-xs);
}

option:not(option:last-of-type) {
    border-bottom: none;
}

option:hover,
option:focus {
    background: var(--cfy-card-container) !important;
    color: var(--cfy-text);
}

option .icon {
    font-size: 1.6rem;
    text-box: trim-both cap alphabetic;
}

selectedcontent .icon {
    display: none;
}

option:checked {
    font-weight: bold;
}

option::checkmark {
    order: 1;
    margin-left: auto;
    content: '✓';
}

::picker(select) {
    opacity: 0;
    transition: all 0.4s allow-discrete;
}

::picker(select):popover-open {
    opacity: 1;
}

@starting-style {
    ::picker(select):popover-open {
        opacity: 0;
    }
}

::picker(select) {
    top: calc(anchor(bottom) + 4px);
}