@use 'globals' as *;

// base select styles
@mixin select-base {
  appearance: base-select;

  &:hover,
  &:focus {
    border-color: color-mix(in srgb, var(--accent) 80%, transparent);
    background: color-mix(in srgb, var(--popover) 80%, transparent);
  }

  &::picker-icon {
    color: var(--muted-foreground);
    transition: 0.4s rotate;
    content: '';

    width: s(4.5);
    height: s(5);

    @include icon('caret-down-bold', 'bold');
  }

  &:open::picker-icon {
    rotate: 180deg;
  }

  &:disabled {
    border-color: var(--muted-foreground) !important;
    color: var(--muted-foreground) !important;
    cursor: not-allowed;
    pointer-events: none;
  }
}

select,
::picker(select) {
  @include select-base;
}

::picker(select) {
  border: 1px solid var(--border) !important;
  border-radius: var(--radius-xs) !important;
  background: var(--secondary) !important;

  top: calc(anchor(bottom) + 4px);

  opacity: 0;

  transition:
    opacity 0.2s ease,
    transform 0.2s cubic-bezier(0, 0, 0.3, 1),
    display 0.2s allow-discrete,
    overlay 0.2s allow-discrete;

  &:popover-open {
    opacity: 1;
  }

  @starting-style {
    &:popover-open {
      opacity: 0;
    }
  }

  // disabled dropdown panel
  &:disabled,
  &:disabled:popover-open {
    opacity: 0.6 !important;
    background: color-mix(in srgb, var(--secondary) 60%, transparent) !important;
  }
}

option {
  display: flex;
  justify-content: flex-start;
  padding: s(2.5);
  background: var(--secondary) !important;
  color: var(--foreground);
  transition: 0.4s;
  gap: s(5);

  &:first-of-type {
    border-radius: var(--radius-xs) var(--radius-xs) 0 0;
  }

  &:last-of-type {
    border-radius: 0 0 var(--radius-xs) var(--radius-xs);
  }

  &:not(:last-of-type) {
    border-bottom: none;
  }

  &:hover,
  &:focus {
    background: color-mix(in srgb, var(--popover) 80%, transparent) !important;
    color: var(--foreground);
  }

  .icon {
    font-size: 1.6rem;
    text-box: trim-both cap alphabetic;
  }

  selectedcontent .icon {
    display: none;
  }

  &:checked {
    font-weight: bold;
  }

  &::checkmark {
    order: 1;
    margin-left: auto;
    content: '';

    width: s(4);
    height: s(4);

    @include icon('check');
  }

  &:disabled {
    color: var(--muted-foreground) !important;
    cursor: not-allowed;
    opacity: 0.7;
    pointer-events: none;
  }
}
