ul[x-data] li>span {
  border: 1px solid var(--color-coolgray-400) !important;
  background: var(--cfy-card) !important;
  font-family: 'Inter', sans-serif;
  backdrop-filter: blur(var(--cfy-blur));
}

@keyframes wiggle {

  0%,
  100% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(-3deg);
  }

  75% {
    transform: rotate(3deg);
  }
}

.toast-no-description svg[fill='currentColor'] {
  animation: wiggle 0.6s ease;
}

[x-show='popups.sponsorship'] {
  padding: 1.25rem !important;
  border-radius: var(--radius-sm) !important;
  background: var(--cfy-card-container) !important;
  box-shadow: var(--cfy-shadow) !important;
}
