button[\\\@click='dropdownOpen=true']:has([x-show="theme === 'dark' || theme === 'system'"]) {
  border-radius: 10px !important;
  background: var(--cfy-card) !important;
  padding-block: 0.7rem !important;
}
