:root {
  --background: oklch(0.994 0 0);
  --foreground: oklch(0 0 0);

  --card: oklch(0.985 0.010 288);
  --card-foreground: oklch(0.1 0.015 288);

  --popover: oklch(0.988 0.006 292);
  --popover-foreground: oklch(0 0 0);

  --primary: oklch(0.56 0.22 286.7);
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.965 0.012 290);
  --secondary-foreground: oklch(0.2 0.015 290);

  --muted: oklch(0.96 0.012 288);
  --muted-foreground: oklch(0.4 0.015 288);

  --accent: oklch(0.95 0.018 286.7);
  --accent-foreground: oklch(0 0 0);

  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);

  --border: oklch(0.93 0.01 292);
  --input: oklch(0.9401 0 0);
  --ring: oklch(0 0 0);

  --chart-1: oklch(0.7459 0.1483 156.4499);
  --chart-2: oklch(0.5393 0.2713 286.7462);
  --chart-3: oklch(0.7336 0.1758 50.5517);
  --chart-4: oklch(0.5828 0.1809 259.7276);
  --chart-5: oklch(0.559 0 0);

  --sidebar: oklch(0.97 0.0029 264.542);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9401 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0 0 0);

  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

  --tracking-normal: -0.025em;
  --spacing: 0.27rem;

  --radius: 0.75rem;
}

.dark {
  --background: oklch(0.233 0.014 304.7);
  --foreground: oklch(0.9938 0.0013 106.4231);

  --card: oklch(0.275 0.012 292);
  --card-foreground: oklch(0.987 0.003 326);

  --popover: oklch(0.3 0.014 292);
  --popover-foreground: oklch(0.955 0 0);

  --primary: oklch(0.62 0.2 286.7);
  --primary-foreground: oklch(1 0 0);

  --secondary: var(--card);
  --secondary-foreground: oklch(0.86 0.012 298);

  --muted: oklch(0.27 0.025 290);
  --muted-foreground: oklch(0.78 0.03 290);

  --accent: oklch(0.31 0.06 296);
  --accent-foreground: oklch(0.852 0.0027 286.3415);

  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(1 0 0);

  --border: oklch(0.3343 0.0111 308.0912);
  --input: oklch(0.3343 0.0111 308.0912);
  --ring: oklch(0.6132 0.2294 291.7437);

  --chart-1: oklch(0.8003 0.1821 151.711);
  --chart-2: oklch(0.6132 0.2294 291.7437);
  --chart-3: oklch(0.8077 0.1035 19.5706);
  --chart-4: oklch(0.6691 0.1569 260.1063);
  --chart-5: oklch(0.7058 0 0);

  --sidebar: oklch(0.2172 0.0117 293.0436);
  --sidebar-foreground: oklch(0.9864 0.0028 308.429);
  --sidebar-primary: oklch(0.284 0.0091 294.9832);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.284 0.0091 294.9832);
  --sidebar-accent-foreground: oklch(0.9842 0.0034 325.6025);
  --sidebar-border: oklch(0.3289 0.0092 268.3843);
  --sidebar-ring: oklch(0.6132 0.2294 291.7437);

  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);

 --shadow-xs:
    0 1px 1px oklch(0.22 0.025 285 / 0.25),
    0 0 1px oklch(0.25 0.03 285 / 0.2);

  --shadow-sm:
    0 2px 3px oklch(0.22 0.025 285 / 0.35),
    0 1px 1px oklch(0.3 0.04 285 / 0.25);

  --shadow:
    0 3px 6px oklch(0.22 0.025 285 / 0.4),
    0 1px 2px oklch(0.3 0.04 285 / 0.25);

  --shadow-md:
    0 4px 8px oklch(0.22 0.025 285 / 0.45),
    0 2px 4px oklch(0.3 0.05 285 / 0.3);

  --shadow-lg:
    0 6px 12px oklch(0.22 0.03 285 / 0.5),
    0 3px 6px oklch(0.3 0.05 285 / 0.35);

  --shadow-xl:
    0 8px 16px oklch(0.22 0.035 285 / 0.55),
    0 4px 8px oklch(0.3 0.05 285 / 0.35);

  --shadow-2xl:
    0 12px 24px oklch(0.22 0.035 285 / 0.6),
    0 6px 12px oklch(0.3 0.05 285 / 0.4);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}
